h1{
    text-align: center;
    color: crimson;
    text-decoration: darkgoldenrod;
    background-color: darkolivegreen;
}

.header{
    color: #f7325e;
    font-family: fantasy;  
}

.tropical{
    color: #7dc410;
    font-family: monospace;
}
#pat{
    background-color: crimson;
}