h1{
    text-align: center;
    color: crimson;
    text-decoration: darkgoldenrod;
    background-color: darkolivegreen;
}

.header{
    color: #f7325e;
    font-family: fantasy;  
}

.tropical{
    font-family: monospace;
    font-variant-ligatures: additional-ligatures;
}
#pat{
    background-color: crimson;
}
.important{
    font-family: serif;
    background-color: darkgrey;
}